In [565]:
from surprise import accuracy, Dataset, SVD
from surprise.model_selection import cross_validate
from surprise import BaselineOnly, Dataset, Reader
import pandas as pd

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
import datetime
import math
from surprise import Dataset
from surprise import Reader
from surprise import SVD, KNNBasic,KNNWithMeans,KNNWithZScore,KNNBaseline,SVDpp,NMF,CoClustering,accuracy
from surprise.model_selection import cross_validate
from surprise.model_selection import KFold,RepeatedKFold
from surprise.model_selection import GridSearchCV

In [4]:
import io, os, sys, setuptools, tokenize

### An issue may arise when installing scikit-surprise

https://stackoverflow.com/questions/64261546/how-to-solve-error-microsoft-visual-c-14-0-or-greater-is-required-when-inst

In [1]:
#!pip install scikit-surprise

Collecting scikit-surprise
  Using cached scikit-surprise-1.1.3.tar.gz (771 kB)
Requirement already satisfied: joblib>=1.0.0 in c:\users\jcrul\anaconda3\lib\site-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\jcrul\anaconda3\lib\site-packages (from scikit-surprise) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\jcrul\anaconda3\lib\site-packages (from scikit-surprise) (1.7.3)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py): started
  Building wheel for scikit-surprise (setup.py): finished with status 'done'
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp39-cp39-win_amd64.whl size=1095084 sha256=dbaef53bc2605fd47b409be8588380fa86ad2ae79cfd72734574363b3c776d81
  Stored in directory: c:\users\jcrul\appdata\local\pip\cache\wheels\c6\3a\46\9b17b3512bdf283c6cb84f59929cdd5199d4e754d596d22784
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [21]:
feedback_df = pd.read_csv("Feedback.csv").drop("Unnamed: 0",axis=1)
feedback_df

     V1   V2   V3   V4   V5   V6   V7   V8   V9  V10  V11  V12  V13  V14  V15
0   3.0  NaN  NaN  3.0  NaN  3.0  3.0  NaN  NaN  3.0  3.0  NaN  4.0  NaN  3.0
1   NaN  3.0  3.0  NaN  NaN  NaN  3.0  3.0  NaN  NaN  3.0  NaN  5.0  NaN  3.0
2   NaN  NaN  3.0  3.0  3.0  3.0  3.0  3.0  NaN  NaN  NaN  4.0  3.0  3.0  NaN
3   4.0  4.0  NaN  NaN  3.0  NaN  NaN  3.0  NaN  2.0  NaN  4.0  NaN  4.0  NaN
4   5.0  NaN  5.0  5.0  NaN  NaN  5.0  NaN  5.0  NaN  NaN  5.0  NaN  NaN  5.0
5   1.0  NaN  4.0  2.0  NaN  NaN  4.0  NaN  4.0  2.0  NaN  3.0  NaN  NaN  NaN
6   NaN  NaN  3.0  4.0  NaN  3.0  NaN  NaN  3.0  NaN  1.0  5.0  NaN  NaN  3.0
7   2.0  NaN  NaN  NaN  4.0  NaN  NaN  2.0  1.0  2.0  NaN  3.0  1.0  NaN  2.0
8   3.0  NaN  3.0  NaN  NaN  5.0  NaN  3.0  3.0  NaN  3.0  NaN  3.0  4.0  3.0
9   NaN  4.0  NaN  5.0  NaN  NaN  NaN  NaN  5.0  NaN  NaN  5.0  NaN  4.0  5.0
10  NaN  3.0  3.0  3.0  5.0  3.0  NaN  3.0  NaN  NaN  NaN  NaN  NaN  NaN  3.0
11  2.0  NaN  NaN  NaN  4.0  2.0  3.0  2.0  NaN  NaN  NaN  2.0  4.0  NaN  NaN
12  NaN  3.0  5.0  5.0  3.0  NaN  NaN  5.0  4.0  NaN  NaN  NaN  5.0  3.0  NaN
13  NaN  3.0  3.0  3.0  NaN  NaN  NaN  3.0  NaN  NaN  3.0  NaN  4.0  NaN  NaN
14  NaN  NaN  NaN  NaN  3.0  2.0  NaN  2.0  NaN  2.0  NaN  2.0  NaN  2.0  2.0
15  4.0  1.0  1.0  1.0  NaN  NaN  NaN  NaN  3.0  NaN  NaN  NaN  NaN  NaN  2.0
16  NaN  NaN  NaN  2.0  NaN  2.0  NaN  2.0  NaN  1.0  1.0  NaN  5.0  NaN  NaN
17  3.0  3.0  3.0  3.0  3.0  5.0  4.0  5.0  NaN  NaN  NaN  NaN  3.0  NaN  NaN
18  NaN  4.0  NaN  NaN  NaN  NaN  4.0  3.0  NaN  NaN  5.0  NaN  NaN  NaN  3.0
19  NaN  NaN  4.0  4.0  NaN  NaN  3.0  NaN  2.0  2.0  NaN  5.0  NaN  4.0  5.0
20  NaN  1.0  3.0  3.0  NaN  NaN  NaN  5.0  1.0  5.0  1.0  2.0  NaN  4.0  3.0
21  5.0  5.0  NaN  5.0  5.0  5.0  NaN  5.0  NaN  5.0  5.0  5.0  5.0  5.0  NaN
22  NaN  4.0  4.0  NaN  NaN  1.0  5.0  2.0  NaN  NaN  3.0  NaN  NaN  2.0  NaN
23  4.0  NaN  2.0  2.0  NaN  NaN  NaN  2.0  2.0  2.0  2.0  NaN  NaN  NaN  3.0
24  3.0  NaN  3.0  NaN  NaN  3.0  NaN  NaN  5.0  NaN  2.0  5.0  NaN  4.0  NaN
25  1.0  1.0  1.0  2.0  1.0  1.0  1.0  NaN  NaN  NaN  1.0  1.0  1.0  NaN  NaN
26  5.0  NaN  NaN  3.0  NaN  NaN  NaN  3.0  NaN  3.0  NaN  NaN  5.0  3.0  3.0
27  NaN  NaN  3.0  1.0  NaN  4.0  5.0  NaN  2.0  4.0  4.0  NaN  3.0  NaN  NaN
28  NaN  NaN  3.0  NaN  3.0  NaN  3.0  NaN  5.0  5.0  3.0  NaN  NaN  NaN  NaN
29  4.0  NaN  NaN  NaN  3.0  NaN  NaN  3.0  NaN  2.0  3.0  3.0  NaN  NaN  3.0
30  2.0  NaN  4.0  NaN  3.0  NaN  2.0  NaN  1.0  NaN  NaN  3.0  2.0  2.0  NaN
31  5.0  NaN  NaN  NaN  4.0  3.0  NaN  3.0  4.0  3.0  NaN  NaN  5.0  NaN  3.0
32  NaN  NaN  4.0  NaN  NaN  3.0  NaN  NaN  2.0  NaN  5.0  NaN  2.0  2.0  NaN
33  5.0  3.0  NaN  NaN  5.0  4.0  NaN  2.0  NaN  NaN  2.0  NaN  5.0  NaN  NaN
34  NaN  4.0  3.0  4.0  NaN  NaN  NaN  2.0  5.0  NaN  4.0  4.0  3.0  NaN  NaN
35  NaN  NaN  3.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  3.0  5.0  5.0  5.0  NaN
36  5.0  NaN  3.0  NaN  NaN  3.0  NaN  3.0  5.0  3.0  NaN  NaN  3.0  NaN  3.0
37  NaN  NaN  3.0  NaN  NaN  2.0  3.0  3.0  NaN  NaN  NaN  NaN  5.0  NaN  3.0
38  NaN  3.0  NaN  4.0  5.0  NaN  NaN  3.0  5.0  3.0  3.0  NaN  5.0  NaN  1.0
39  5.0  2.0  1.0  3.0  NaN  3.0  2.0  1.0  NaN  NaN  NaN  NaN  NaN  4.0  2.0
40  5.0  3.0  NaN  3.0  5.0  4.0  3.0  3.0  NaN  NaN  NaN  4.0  3.0  NaN  NaN

### In order to use Surprise, we must reformat the data to column format, removing all NAs (?)

In [606]:
feedback_df = pd.read_csv("Feedback_reformatted.csv")
feedback_df

     User Restaurant  Rating
0       1         V1       3
1       4         V1       4
2       5         V1       5
3       6         V1       1
4       8         V1       2
..    ...        ...     ...
303    32         V9       4
304    33         V9       2
305    35         V9       5
306    37         V9       5
307    39         V9       5

[308 rows x 3 columns]

In [601]:
feedback_df = pd.read_csv("Feedback_reformatted.csv")
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(feedback_df[["User", "Restaurant", "Rating"]], reader)
data

In [401]:
# path to dataset file
#file_path = os.path.expanduser("~\\OneDrive - University of Illinois - Urbana\\STAT 542\\Feedback_formatted.csv")

# As we're loading a custom dataset, we need to define a reader. In the
# movielens-100k dataset, each line has the following format:
# 'user item rating timestamp', separated by '\t' characters.
#reader = Reader(sep=',',skip_lines=1)

#data = Dataset.load_from_file(file_path, reader=reader)

### Exploring cross-validation methods

In [617]:
# define a cross-validation iterator
kf = KFold(n_splits=3,random_state=42)

algo = SVD(random_state=42)

for trainset, testset in kf.split(data):

    # train and test algorithm.
    algo.fit(trainset)
    predictions = algo.test(testset)

    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

RMSE: 1.1134
RMSE: 1.0412
RMSE: 1.0894

In [620]:
kf = KFold(n_splits=3,random_state=42)

algo = SVD(random_state=42)

cross_validate(algo, data, measures=["RMSE", "MAE"], cv=3, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.0187  1.0699  1.1600  1.0829  0.0584
MAE (testset)     0.8265  0.8632  0.9362  0.8753  0.0456
Fit time          0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00

{'test_rmse': array([1.01871939, 1.06993495, 1.15995758]),
 'test_mae': array([0.82645866, 0.86323769, 0.93618503]),
 'fit_time': (0.004593849182128906,
  0.003268003463745117,
  0.004209995269775391),
 'test_time': (0.0009577274322509766,
  0.0021653175354003906,
  0.0009140968322753906)}

In [621]:
algo = NormalPredictor()
cross_validate(algo,data,measures=["RMSE", "MAE"], cv=3)

{'test_rmse': array([1.61317687, 1.57168422, 1.73414677]),
 'test_mae': array([1.32972   , 1.31468639, 1.38630861]),
 'fit_time': (0.0, 0.0008378028869628906, 0.0010066032409667969),
 'test_time': (0.0015330314636230469,
  0.0010080337524414062,
  0.00099945068359375)}

## Hyperparameter Tuning using GridSearchCV

### Description of algorithms: https://surprise.readthedocs.io/en/stable/prediction_algorithms_package.html

#### There is large variance in performance for different fold splits, so I run gridsearch 100 times and select the parameters chosen as 'best' the most times

### Tuning KNN-inspired algorithms

In [624]:
param_grid = {"k":[10,20,40], "min_k":[1,2,4,6,8],"verbose":[False],'random_state':[42]}
classes = (KNNBasic,KNNWithMeans,KNNWithZScore,KNNBaseline)
for model in classes:
    start = datetime.datetime.now()
    print(model)
    best_score = []
    best_params = [] 
    gs = GridSearchCV(model,param_grid, measures=["rmse", "mae"], cv=RepeatedKFold(n_splits=3,n_repeats=100))
    gs.fit(data)
    print("Runtime",str(datetime.datetime.now() - start)[:-3])
    print("RMSE: ",round(gs.best_score["rmse"],3))
    print("Best parameters: ",gs.best_params["rmse"])

<class 'surprise.prediction_algorithms.knns.KNNBasic'>
Runtime 0:00:14.196
RMSE:  1.195
Best parameters:  {'k': 10, 'min_k': 8, 'verbose': False, 'random_state': 42}
<class 'surprise.prediction_algorithms.knns.KNNWithMeans'>
Runtime 0:00:14.520
RMSE:  1.082
Best parameters:  {'k': 20, 'min_k': 8, 'verbose': False, 'random_state': 42}
<class 'surprise.prediction_algorithms.knns.KNNWithZScore'>
Runtime 0:00:20.990
RMSE:  1.09
Best parameters:  {'k': 20, 'min_k': 8, 'verbose': False, 'random_state': 42}
<class 'surprise.prediction_algorithms.knns.KNNBaseline'>
Runtime 0:00:16.177
RMSE:  1.119
Best parameters:  {'k': 10, 'min_k': 8, 'verbose': False, 'random_state': 42}

#### We select k=10, min_k=8 for basic and baseline, and k=20,min_k=8 for withMeans and withZScore

### Tune Matrix Factorization algorithms

In [630]:
param_grid = {"n_epochs": [5,10,20,50,100,200], "lr_all": [0.001,0.002,0.005,0.01,0.02,0.05], "reg_all": [0.01,0.05,0.1,0.2,0.3,0.4,0.5],'random_state':[42]}
#SVD
start = datetime.datetime.now()
best_score = []
best_params = []
#for i in range(100):    
gs = GridSearchCV(SVD, param_grid, measures=["rmse", "mae"], cv=RepeatedKFold(n_splits=3,n_repeats=100))
gs.fit(data)

print("SVD")
print("Runtime",str(datetime.datetime.now() - start)[:-3])
#print(pd.DataFrame({'best_params':best_params,'best_score':best_score})['best_params'].value_counts())   
print("RMSE: ",round(gs.best_score["rmse"],3))
print("Best parameters: ",gs.best_params["rmse"])

#SVD++
start = datetime.datetime.now()
best_score = []
best_params = [] 
gs = GridSearchCV(SVDpp, param_grid, measures=["rmse", "mae"], cv=RepeatedKFold(n_splits=3,n_repeats=100))
gs.fit(data)

print('SVD++')
print("Runtime",str(datetime.datetime.now() - start)[:-3])
print("RMSE: ",round(gs.best_score["rmse"],3))
print("Best parameters: ",gs.best_params["rmse"])

#Nonegative Matrix Factorization (NMF)
param_grid = {'n_epochs':[5,10,20,50,100]}
start = datetime.datetime.now()
   
gs = GridSearchCV(NMF, param_grid, measures=["rmse", "mae"], cv=RepeatedKFold(n_splits=3,n_repeats=100))
gs.fit(data)


print('NMF')
print("Runtime",str(datetime.datetime.now() - start)[:-3])
print("RMSE: ",round(gs.best_score["rmse"],3))
print("Best parameters: ",gs.best_params["rmse"])

SVD
Runtime 0:06:15.582
RMSE:  1.038
Best parameters:  {'n_epochs': 200, 'lr_all': 0.005, 'reg_all': 0.3, 'random_state': 42}
SVD++
Runtime 0:11:38.345
RMSE:  1.034
Best parameters:  {'n_epochs': 100, 'lr_all': 0.005, 'reg_all': 0.3, 'random_state': 42}
NMF
Runtime 0:00:05.491
RMSE:  1.152
Best parameters:  {'n_epochs': 20}

#### Select n_epochs=10, lr_all=0.001, reg_all=0.2

### Tune co-clustering algorithms

In [626]:
param_grid = {'n_epochs':[5,10,20,50,100],'n_cltr_u':[2,3,5,8],'n_cltr_i':[2,3,5,10,20]}
start = datetime.datetime.now()
best_score = []
best_params = []

#for i in range(100):    
gs = GridSearchCV(CoClustering, param_grid, measures=["rmse", "mae"], cv=RepeatedKFold(n_splits=3,n_repeats=100))
gs.fit(data)

    # best RMSE score
#best_score.append(round(gs.best_score["rmse"],3))

    # combination of parameters that gave the best RMSE score
#best_params.append((gs.best_params["rmse"]))

print('Co-clustering')
print("Runtime",str(datetime.datetime.now() - start)[:-3])
print("RMSE: ",round(gs.best_score["rmse"],3))
print("Best parameters: ",gs.best_params["rmse"])
#print(pd.DataFrame({'best_params':best_params,'best_score':best_score})['best_params'].value_counts())

Co-clustering
Runtime 0:10:35.811
RMSE:  1.128
Best parameters:  {'n_epochs': 20, 'n_cltr_u': 2, 'n_cltr_i': 2}

#### Select n_epochs=20, n_cltr_u=2, n_cltr_i=2

## Compare model performance

#### Mean RMSE over 1000 3-fold CVs

In [631]:
CVResults = pd.DataFrame(columns = ['Model','RMSE','MAE','Timespan'])

NormalPredictor_model = NormalPredictor()
BaselineOnly_model = BaselineOnly(verbose=False)

KNNBasic_model = KNNBasic(k=10, min_k=8,verbose=False,random_state=42)
KNNBaseline_model = KNNBaseline(k=20, min_k=8,verbose=False,random_state=42)
KNNWithMeans_model = KNNWithMeans(k=20, min_k=8,verbose=False,random_state=42)
KNNWithZScore_model = KNNWithZScore(k=10, min_k=8,verbose=False,random_state=42)

SVD_model = SVD(n_epochs=200, lr_all=0.005, reg_all=0.3, verbose=False,random_state=42)
SVDpp_model = SVDpp(n_epochs=100, lr_all=0.001, reg_all=0.2, verbose=False,random_state=42)
NMF_model = NMF(n_epochs=20,verbose=False,random_state=42)
CoClustering_model = CoClustering(n_epochs=20, n_cltr_u=2, n_cltr_i=2,verbose=False,random_state=42)

classes = [NormalPredictor_model,BaselineOnly_model,KNNBasic_model,KNNBaseline_model,KNNWithMeans_model,KNNWithZScore_model,SVD_model,SVDpp_model,NMF_model,CoClustering_model]
for model in classes:
    start = datetime.datetime.now()
    mean_rmses = []
    mean_maes = []
    #for i in range(1):
    out = cross_validate(model, data, ['rmse', 'mae'], RepeatedKFold(n_splits=3,n_repeats=1000))
    mean_rmse = np.mean(out['test_rmse'])
    mean_mae = np.mean(out['test_mae'])  
    #mean_rmses.append(mean_rmse)
    #mean_maes.append(mean_mae)
    cv_time = str(datetime.datetime.now() - start)[:-3]
    #mean_mean_rmse = np.mean(mean_rmses)
    #mean_mean_mae = np.mean(mean_maes)
    CVResults = CVResults.append({'Model': model, 'RMSE': mean_rmse, 'MAE': mean_mae, 'Timespan': cv_time}, ignore_index=True)

CVResults['Model'] = ['NormalPredictor','BaselineOnly','KNNBasic','KNNBaseline','KNNWithMeans','KNNWithZScore','SVD','SVDpp','NMF','CoClustering']
CVResults

C:\Users\jcrul\AppData\Local\Temp\ipykernel_30272\196969828.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CVResults = CVResults.append({'Model': model, 'RMSE': mean_rmse, 'MAE': mean_mae, 'Timespan': cv_time}, ignore_index=True)
C:\Users\jcrul\AppData\Local\Temp\ipykernel_30272\196969828.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CVResults = CVResults.append({'Model': model, 'RMSE': mean_rmse, 'MAE': mean_mae, 'Timespan': cv_time}, ignore_index=True)
C:\Users\jcrul\AppData\Local\Temp\ipykernel_30272\196969828.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CVResults = CVResults.append({'Model': model, 'RMSE': mean_rmse, 'MAE': mean_mae, 'Timespan': cv_time}, ignore_index=True)
C:\Users\jcrul\AppData\Local\Temp\ipykernel_30272\196969828.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CVResults = CVResults.append({'Model': model, 'RMSE': mean_rmse, 'MAE': mean_mae, 'Timespan': cv_time}, ignore_index=True)
C:\Users\jcrul\AppData\Local\Temp\ipykernel_30272\196969828.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CVResults = CVResults.append({'Model': model, 'RMSE': mean_rmse, 'MAE': mean_mae, 'Timespan': cv_time}, ignore_index=True)
C:\Users\jcrul\AppData\Local\Temp\ipykernel_30272\196969828.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CVResults = CVResults.append({'Model': model, 'RMSE': mean_rmse, 'MAE': mean_mae, 'Timespan': cv_time}, ignore_index=True)
C:\Users\jcrul\AppData\Local\Temp\ipykernel_30272\196969828.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CVResults = CVResults.append({'Model': model, 'RMSE': mean_rmse, 'MAE': mean_mae, 'Timespan': cv_time}, ignore_index=True)
C:\Users\jcrul\AppData\Local\Temp\ipykernel_30272\196969828.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CVResults = CVResults.append({'Model': model, 'RMSE': mean_rmse, 'MAE': mean_mae, 'Timespan': cv_time}, ignore_index=True)
C:\Users\jcrul\AppData\Local\Temp\ipykernel_30272\196969828.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CVResults = CVResults.append({'Model': model, 'RMSE': mean_rmse, 'MAE': mean_mae, 'Timespan': cv_time}, ignore_index=True)
C:\Users\jcrul\AppData\Local\Temp\ipykernel_30272\196969828.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CVResults = CVResults.append({'Model': model, 'RMSE': mean_rmse, 'MAE': mean_mae, 'Timespan': cv_time}, ignore_index=True)

             Model      RMSE       MAE     Timespan
0  NormalPredictor  1.627942  1.320452  0:00:02.910
1     BaselineOnly  1.115494  0.900247  0:00:02.334
2         KNNBasic  1.194019  0.955188  0:00:06.963
3      KNNBaseline  1.121731  0.898443  0:00:08.569
4     KNNWithMeans  1.079829  0.825996  0:00:07.382
5    KNNWithZScore  1.087573  0.828490  0:00:11.889
6              SVD  1.032475  0.818993  0:00:37.830
7            SVDpp  1.083545  0.874626  0:00:33.994
8              NMF  1.145389  0.873755  0:00:06.950
9     CoClustering  1.132432  0.867909  0:00:18.229

### Evaluate SVD predictions on one specified test set

In [632]:
from surprise.model_selection import train_test_split as tts
trainset, testset = tts(data, test_size=0.2, random_state=42)

In [633]:
predictions = SVD(n_epochs=200, lr_all=0.005, reg_all=0.3, verbose=False, random_state=42).fit(trainset).test(testset)
ResultCatcher = pd.DataFrame(predictions, columns=['User', 'Restaurant', 'Real_Rating', 'Estimated_Rating', 'details'])
ResultCatcher.drop(['details'], axis=1, inplace=True)
ResultCatcher

    User Restaurant  Real_Rating  Estimated_Rating
0     14         V8          3.0          3.153624
1     26         V4          2.0          1.484804
2     30         V1          4.0          3.280600
3     23        V11          3.0          3.295759
4     33        V13          2.0          3.344531
..   ...        ...          ...               ...
57    10         V4          5.0          4.193041
58    25        V12          5.0          3.746991
59    13        V14          3.0          3.944298
60    15         V8          2.0          2.286018
61     3        V14          3.0          3.325386

[62 rows x 4 columns]

In [635]:
print('MAE:',round(accuracy.mae(predictions),3))
print('RMSE:',round(accuracy.rmse(predictions),3))

MAE:  0.7682
MAE: 0.768
RMSE: 0.9643
RMSE: 0.964

In [636]:
ResultComparison = pd.DataFrame({'Count': ResultCatcher.groupby(['Real_Rating']).size(),
        'Avg_Est': ResultCatcher.groupby(['Real_Rating']).mean()['Estimated_Rating']
        }).reset_index()
ResultComparison

C:\Users\jcrul\AppData\Local\Temp\ipykernel_30272\3484432280.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  'Avg_Est': ResultCatcher.groupby(['Real_Rating']).mean()['Estimated_Rating']

   Real_Rating  Count   Avg_Est
0          1.0      7  2.189452
1          2.0     12  2.789653
2          3.0     25  3.289865
3          4.0      6  3.411117
4          5.0     12  3.789092

### Confirm that we may predict missing values

In [637]:
algo = SVD(n_epochs=5, lr_all=0.001, reg_all=0.2, verbose=False, random_state=42).fit(trainset)
pred = algo.predict(uid=2, iid='V1', verbose=True)

user: 2          item: V1         r_ui = None   est = 3.26   {'was_impossible': False}

## Next Steps:
### Confirm missing values were handled correctly
### Figure out how to submit predictions